.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.8rem;
}

.about__info {
    padding: 20px; /* Add padding around the info section */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.about__description {
    line-height: 1.6; /* Adjust line height for better readability */
    margin-bottom: 20px; /* Add margin to the bottom of each paragraph for spacing */
}

.about__description::first-letter {
    font-size: 2em; /* Make the first letter larger */
    color: #454360; /* Change the color of the first letter */
    font-weight: bold;
    float: left; /* Float the first letter to the left */
    line-height: 0.2; /* Ensure the line height does not affect the paragraph spacing */
    margin-right: 0.1em; /* Add some space between the first letter and the text */
    margin-top: 0.1em; /* Adjust as needed to align vertically */
}


.about__skills {
    row-gap: 1.25rem;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font medium);
}

.skills__number {
    line-height: 1.2;
}

.skills__bar,
.skills__percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills_bar {
    background-color: #f1f1f1;
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skill1 {
    width: 100%;
    background-color: rgb(255,209,92);
} 

.skill2 {
    width: 100%;
    background-color: rgb(255,76,96);
} 

.skill3 {
    width: 100%;
    background-color: rgb(108,108,255);
} 

.about__boxes {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about__box {
    display: flex;
    column-gap: 1.5rem;
}

.about__icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about__title{
    font-size: 1.875rem;
}

.about__img {
    margin-left: 3.25rem;
    position: relative;
}