.svg__body {
    background-color: #fdffb6;
}

.svg__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Ensure the SVG stays in the background */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 180s linear infinite;
    transform-origin: 13px 25px;
}

.in-top {
    animation: rotate 140s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 200s linear infinite;
    transform-origin: 84px 93px;
}

.in-bottom {
    animation: rotate 160s linear infinite;
    transform-origin: 84px 93px;
}