/* footer.css */
.footer {
    width: 100%;
    height: 100px; /* Adjust height as needed */
    bottom: 0; /* Align it to the bottom */
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
